<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "/styles/style2.css">
        <title>Edit</title>
    </head>

    <body>
        <form
            action="/blog/<%= blog.id %>?_method=PATCH"
            method="POST"
            class="post-form"
        >
        <h2>Edit your blog</h2>

        <label for="title">Title</label>
        <input
            type="text"
            id="title"
            name="title"
            value="<%= blog.title %>"
            required
        />

        <label for="content">Content</label>
        <textarea
            name="content"
            id="content"
            required
            ><%= blog.content %>
        </textarea>

        <button type="submit">Update</button>
  </form>
    </body>
</html>