<%- include("partials/header.ejs") %>
        <main>

        <hr style="height: 2px; background-color: rgb(0, 0, 0); border: none; margin-top: -5px;">
        <div class = "title"><h1>Blogs</h1></div>
       <% if(blogLinks && blogLinks.length > 0){ %>
        <ul>
            <% blogLinks.forEach(blog =>{  %>
                <div class = "article"> 
                <li><a href = "../blog/<%= blog.id %>"> <%= blog.title %></a></li>
                </div>
            <% })  %>
        </ul>
       <%}else{ %>
            <div class = "text">
            <p>No blogs written yet</p>
            </div>
       <%}%>
        </main>
<%- include("partials/footer.ejs") %>