#content p {
    white-space: pre-wrap;
    text-align: center;
    
    font-size: 20px;
}

h1{
    text-align: center;
    font-family:  sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    margin: 15px;
}

.box{
    border: 5px solid rgb(0, 136, 255);
    padding: 20px;
    margin: 0;
    min-height: 98vh;
    box-sizing: border-box;
}

